<a href="https://colab.research.google.com/github/eflatt/udemy-Complete-Tensorflow-2-and-Keras/blob/main/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Intro to Pandas:  Initialization and Access**

Pandas derives from Panel-Data and is built on numpy

1.  A *Series* is a numpy data array with a named index
2.  A *Dataframe* is a data matrix with labeled index and columns

Highly recommend to check out:  [this link](https://pandas.pydata.org/pandas-docs/stable)

**Pandas Series Initialization**

In [ ]:
# Initialize with the standard imports

import numpy as np
import pandas as pd

In [ ]:
# Some standard python objects - lists of strings, of ints, numpy array and
# dictionary:

labels = ['a', 'b', 'c']

mylist = [10, 20, 30]

arr = np.array([10, 20, 30])

d = {'a':10, 'b':20, 'c':30}

**Initialize a Pandas Series**
Important arguments to pd.Series() are the first two:  the *data* and the *index*

In [ ]:
# If you don't specify the index, then Pandas will by default
# create an index integers >= 0 and associate each with
# a value in the data you put into the ctor.
print("pd.Series(data=mylist): \n" + str(pd.Series(data=mylist)) + "\n")

In [ ]:
# But you can choose to specify an index as the second argument
# of the ctor.  In this case we use a python list of strings as
# the index:
# You also don't need to expressly say data= and index =, you could
# Have written pd.Series(data, index), just as well.
print("pd.Series(data=mylist,index=labels): \n" + str(pd.Series(data=mylist,index=labels)) + "\n")

In [ ]:
# You can also supply the ctor for a pd.Series with a numpy array just as well:
print("pd.Series(arr,labels): \n" + str(pd.Series(arr,labels)) + "\n")

In [ ]:
# It is handy, but not right now to supply a py dictionary to the pd.Series ctor:
print("pd.Series(d): \n" + str(pd.Series(d)) + "\n")

**Access data from Pandas Series**

In [ ]:
# Initializations and accesses

salesQ1 = pd.Series([250, 450, 200, 150], index=['USA', 'China', 'India', 'Brazil'])
print("salesQ1 is \n" + str(salesQ1) + '\n')

# Note the change in index from salesQ1!
salesQ2 = pd.Series([260, 500, 210, 100], index=['USA', 'China', 'India', 'Japan'])
print("salesQ2 is \n" + str(salesQ2) + '\n')

# Access by using the index names (kinda like a py dictionary):
print("salesQ2['China']=" + str(salesQ2['China']) + '\n')

# You can also just key off 'position' index (0, 1, 2, ...)
# so salesQ2[2] would yield 210 

# if you specify an invalid key/index value, you'll get a key error:
# salesQ2[10] or salesQ1['Australia'] would give you a key error.

**Operations between multiple Pandas Series**

In [ ]:
# One can add two series:
print("salesQ1 + salesQ2= \n" + str(salesQ1 + salesQ2) +'\n')

# DEFAULT BEHAVIOR
# Important note, when the keys don't match in both summands
# (so Brazil and Japan) don't live in both lists being summed
# then the default behavior is to give you a NaN (b/c the sum
# doesn't exist)
#
# ALTERNATIVELY, you can say that missing keys have a default
# value of 0, but not right now.

# **Intro to Pandas:  Manipulating Columns and Rows of a DataFrame**

**A Pandas dataframe is simply multiple pandas series that share the same index**

Think of it like a spreadsheet that you can manipulate w/ Python.

Let's create a Pandas Dataframe:

In [ ]:
import numpy as np
import pandas as pd

# Column Labels:

# In ML the columns are usually features
columns = ['W','X','Y','Z']

# Row Labels:
# In ML the rows are usually samples/points:
index = ['A','B','C','D','E']

from numpy.random import randint

# Create a seed so that our random numbers match the instructors':
np.random.seed(42)
data = randint(-100, 100, (5,4))

# So we now have row labels, column labels, and data in the right dimension
# We can now create our dataframe:

df = pd.DataFrame(data, index, columns)
df

**How do we Access one or more Columns from the DataFrame?**

In [ ]:
# To grab a single column (or feature):
print("df['W']: \n" + str(df['W']) + "\n")

In [ ]:
# To grab multiple columns from a dataframe, you specify a LIST or series
# of feature/column names - note the double brackets in the index:
print("df[['W', 'Z']]: \n" + str(df[['W', 'Z']]) + "\n")

**Feature Engineering:  How to create and delete new Columns based on existing Columns:**

In [ ]:
# The way to create new columns is to assign to some new column name:
print('Adding new column called new which is sum of Columns W and Y')
df['new'] = df['W'] + df['Y']
df

In [ ]:
# The way to remove a column from our dataframe, you use df.drop()
# and pass in either the name of the column you want gone, or a list
# of columns you want gone:

# IMPORTANT NOTE:  drop() defaults to axis 0 (which is the rows), so to
# drop a feature you must explicitly mention axis 1

# REALLY IMPORTANT NOTE:  THIS IS NOT DESTRUCTIVE, if you want the
# .drop() to stick, you need to assign it to a variable (in this case
# in place we just assign back to df)
print('Dropping new from axis 1 (columns):')
df = df.drop('new', axis=1)
df

**Access, Add and Delete operations on Rows**

*Accessing Rows:*

In [ ]:
# Since it is possible to have a row label the same as a column label, we
# can't just naively say df['C']
# There are 2 ways to access row 'C':
# 1. The first is w/ the loc() method (note that this returns just the panda 
# numpy series ):

df.loc['C']

In [ ]:
# To get a list of rows:
df.loc[['C', 'E']]

In [ ]:
# 2.  The second way to access rows is by specifying the integer index through
# using the iloc method on the dataframe thus:
df
df.iloc[0]

In [ ]:
# You can also use all the fancy slicing stuff with iloc:
df.iloc[:]

In [ ]:
# Gets you row 2 through but not including row 4
df.iloc[2:4]

*Deleting Rows*

In [ ]:
# Unlike for columns, since the default for the drop access is 0 (rows)
# you can naively just tell it what (or what list) to drop.

# As before, the drop operation is NOT in-place destructive, you'd
# need to reassign it back to df to make the drop permanent.
df.drop("C")

*Selecting a subset of a row*

In [ ]:
# The first argument is either the row name or a *list* of row names
# The second argument is either the column name or a *list* of row names
df

In [ ]:
# First argument selects row or rows
# Second argument selects column or columns
# Default assumption is that we want it all.
df.loc[["B","C"], ["Y","Z"]]

**Conditional Selection from a DataFrame**:  Where we access only those data that meet some condition.

In [ ]:
# Here's what we're working with
df

In [ ]:
# As with numpy series, a conditional of a dataframe
# provides a boolean 'mask' where 'True means that the
# condition was met, False otherwise'
df > 0

In [ ]:
# However, unless we specify otherwise, pandas leaves NaNs
# where the condition is false when applied as a filtering condition
# to the frame thus:
df[df>0]

In [ ]:
# If I want to apply a conditional to one column, I do so thus:
df['X'] > 0

In [ ]:
# If we 'broadcast' the condition df['X']>0 across the entire
# DataFrame, then it only extracts those rowswhere that condition is met
# (that is, where the X column value is > 0)

# Filtering on a conditional selection ONLY returns the true rows
df[df['X']>0]

*Conditional Selections applied as filters, themselves return a DataFrame, so you can do standard DataFrame Operations thereto.*

In [ ]:
# Since df[df['X']] is itself a dataframe, we can select off of it:
df[df['X']>0]['W']

**How to do Logical/Boolean connectors and separate conditions**
1.  Remember to wrap EACH condition with parens
2.  And is a single ampersand:  &
3.  Or is a single bar: |

In [ ]:
# Here's an example of a logically combined set of conditions (for AND):
(df["W"]>0) & (df["Y"]>1)

In [ ]:
df

**How to set different Columns to be your Index, and not just
what got set at ctor time for the DataFrame**

In [ ]:
df

**If you want to make your ctor' initiated column into just another
column, you can reset the index to the 'positional' 0-n integer index thus:**

In [ ]:
# Non-destructive in place, you can set A-F as a new column called index thus:
df.reset_index()

*Dynamically creating a new index column with df.set_index()*

In [ ]:
new_ind = ['CA','NY','WY','OR',"CO"]
# Note that this addition of a column is destructive
df['States'] = new_ind

# Now that you've added the column, go ahead and set it as the
# index like this, note that this is NOT DESTRUCTIVE, so we
# need to reassign it back to df to make it so (the line below
# therefore IS destructive):
df = df.set_index("States")
df

In [ ]:
# ***Important note - After setting the index, the the index is NOT
# A column, it is removed as a column from the dataframe, 
# Observe: 'States' is not included when we ask what the columns are:***
df.columns

**Some handy Dataframe summaries:**

*df.describe(), df.info(), df.dtypes*

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.dtypes

# **Intro to Pandas:  Dealing with Missing Data**

**Real world Datasets often have missing data, you have three choices:**
1.  Leave it as missing
*  Depending on the type of data, this is a reasonable choice
*  You could simply treat NaN as another category

2.  Remove it
* Depends on how much is missing - if too much is missing to make a reasonable guess, then it makes sense to drop it
* If we're only missing a small percentage, it makes sense to remove a few rows (datapoints) from the dataset

3.  Fill it in w/ a substitute
* If a non-trivial percentage is missing and the data rows are particularly important
* Fill in w/ mode, mean, median
* or base it off of another feature column (feature engineering)

**Ultimately you have to use common sense and remember the goals you have to see which stratgegy makes the most sense.**

```
# This is formatted as code
```

In [ ]:
# Initialize data to play with

import numpy as np
import pandas as pd

# Initialize the dataframe with a python dictionary
df = pd.DataFrame({'A':[1,2,np.nan,4],'B':[5,np.nan,np.nan,8],'C':[10,20,30,40]})
df

**How would we go about dropping/removing missing data?** 
Use the dropna() method on the dataframe.

In [ ]:
# df.dropna() default:
# Only keep the rows where all data is present (no missing values)
df.dropna()

In [ ]:
# df.dropna():  axis=0 means 'the index', and 1 means the (data) columns
# Note that by default it only keeps the columns where no data is missing.
df.dropna(axis=1)

In [ ]:
# the thresh parameter means - keep the column if it has *at least*
# thresh *non-empty* values
# So, setting thresh=3 drops column B which only has 2 non-empty values
df.dropna(axis=1, thresh=3)

**How would we go about updating/replacing missing data?** 
Use the fillna() method on the dataframe.

In [ ]:
# Note that before calling fillna that the values
# are all integers, and here I'm sticking a string in.
# Pandas doesn't complain
df.fillna(value='FILL VALUE')
df.dtypes

In [ ]:
# Replace NaN with 0 - note that it recasts the 0 to a float64 since that's
# The type of the column
df.fillna(value=0)

In [ ]:
# To Fill in all missing values throughout the entire dataframe with
# The mean of the column/feature, you write:
df.fillna(df.mean())

In [ ]:
# You can focus where you replace missing values to a particular column:
# NOTE: that this is not in-place destructive
df['A'].fillna(value=0)

# To make this 'permanent', you'd assign the 'fixed' column back to the original
# dataframe thus:
df['A']=df['A'].fillna(value=0)

In [ ]:
# Let's say that we want to fill in column B with the
# average of the non-empty values in B:
df['B']=df['B'].fillna(value=df['B'].mean())

# **Intro to Pandas:  GroupBy Operations**

**Often we want to explore how values are distributed or aggregated across groups.**
* This is similar to how GROUPBY works in SQL

**Assume you have a column that is categorical, and a separate column that is continuous (ints, reals, etc).**
  
**This is what a GROUPBY Does (also often referred to as Split-Apply-Combine):**
* Step One:  Select the column that is categorical
* Step Two:  Split up into smaller frames by category
* Step Three:  Apply some **aggregation function** on each smaller per-category frame (like a sum)
* Step Four:  Recombine into a single dataframe where the categorical column remains (and dups removed) and the applied function is associated with that categorical column in a separate column

**The aggregation method takes multiple values and combines them into a single value**
* Like mean, sum, std, count, max, min, etc...

In [ ]:
# Initialize data to play with
import pandas as pd

# Load from Google Drive thus:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
path = '/content/drive/My Drive/TensorFlowTutorialData/Universities.csv'

# Load the csv file:
df = pd.read_csv(path)

**df.head() let's you look at the first few rows of a dataframe.**

In [ ]:
# To show first 5 rows (by default)
df.head()
# Note how Year is ALSO categorical (even though it's not a string)

**Let's play a little bit with groupby() on df**

In [ ]:
# Let's say that we want to see the number of completions, per year across 
# all universities (so the category is the year):

# Without some aggregator function you just get the object back
df.groupby('Year')

In [ ]:
# But if you specify an aggregator function (like a mean or sum), you get
# The values.

# NOTE HOW IT DOES NOT SHOW Sedctor, University, etc... it's b/c the aggregator
# function (mean) doesn't work on string-based columns, so it makes no sense.

df.groupby('Year').mean()

# Note too that the 'Year' column returned by this groupby is the *index* and
# not a data column

In [ ]:
# You can play with sorting thus:
df.groupby('Year').sum().sort_index(ascending=False)

**You can groupby one index and then groupby again for a subindex.**
* Note that you are left w/ only one column('completions') and 2
indices ('year' and 'sector')

In [ ]:
df.groupby(['Year','Sector']).sum().sort_index(ascending=False)

**Another handy technique is to groupby and describe each category**

In [15]:
# Note that transpose() flips the index (usually categorical data, in this case
# years) be columns.
df.groupby('Year').describe().transpose()

Year                      2012         2013  ...         2015         2016
Completions count    38.000000    40.000000  ...    44.000000    43.000000
            mean    535.078947   526.150000  ...   597.250000   609.860465
            std    1036.433239  1040.474782  ...  1183.371791  1235.952796
            min      13.000000     0.000000  ...     0.000000     0.000000
            25%     114.250000    98.500000  ...    87.750000    90.000000
            50%     229.500000   189.000000  ...   191.000000   208.000000
            75%     420.500000   413.000000  ...   405.750000   414.000000
            max    5388.000000  5278.000000  ...  5335.000000  5367.000000

[8 rows x 5 columns]

In [17]:
df.groupby('Geography').describe()

            Year                                 ... Completions
           count         mean       std     min  ...         25%    50%    75%     max
Geography                                        ...
Nevada     207.0  2014.067633  1.405698  2012.0  ...        98.0  200.0  414.0  5388.0

[1 rows x 16 columns]

# **Intro to Pandas:  Pandas Operations**

**TODO(EFLATT)**
* TODO